.header{
	color: black;
	font-style:bold;
	margin: 5px;
	padding: 5px;
	border:2px solid black;
	text-align: center;
	font-family: sans-serif;
	border-radius: 4px;
	background-color: green;
}

span ul{
	
 list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
     border-radius: 11px;
}

span ul li{
float: left;
 border-right: 1px solid #bbb;
}
span ul li.right{
	float: right;
}

span ul li a {
    display: block;
    padding: 8px;ne;
    color: white;
    text-decoration: none;
    padding: 15px;

}

a:hover {
    background-color: white;
    color: black;
}

footer h4 {
	margin-top: 100px;
	text-align: center;
	font-family: times;
	background-color: black;
	color: white;
	padding: 12px;
	width: 100%;
	font-style: italic;
	position: fixed;
	border-top: solid red;
	border-radius: 5px;
}

body{
	background-color
}

footer h4:hover{
	color: black;
	background-color: white;
}
 span ul li.active {
 	background-color: black;
 	color: white;
 }

 div.container{
 	margin: 20px 130px;
 	padding: 10px;
 	border: 2px solid black;
 	height: 200px;
 	border-radius: 12px;
 }