#header {
	background-color:blue;
	border: 5px solid black;
	text-align: center;
	color: white;
	border-radius: 8px;
	margin: 15px;
	padding: 10px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 10px;
}

h3{
color: green;
font-style: bold;
 border-bottom: 6px solid red;
    background-color: lightgrey;
    margin: 30px;
    padding: 10px;
    text-align: center;
}


body{
	font-family: serif;
}



#form input{
	
	 border-bottom: 6px solid red;
    background-color: lightgrey;
    font-family: serif;
    

}


