#header {
	background-color:blue;
	border: 5px solid black;
	text-align: center;
	color: white;
	border-radius: 8px;
}

h3{
color: green;
font-style: bold;
border: 1px black solid;
border-radius: 3px;
}


body{
	background-color: MediumSeaGreen;
}

